#wrap {}
/* ------------------------------------------1행 */
#wrap .row1 {background-image:url(../images/main_bg.jpg); position:relative;}
#wrap .row1::after {
    content:'';display:block;
    width:100%; height:100%;
    background:linear-gradient(transparent, rgba(0,0,0,0.8));
    position:absolute; left:0; top:0; 
    z-index:100;/* position의 선택속성 */
}
#wrap .row1 #visual {position:relative; z-index:200;/* 현재 위치에서 중첩이 들어간다는 것. */}
#wrap .row1 #visual .logo {}
#wrap .row1 #visual .logo a {}
#wrap .row1 #visual .logo a img {}
#wrap .row1 #visual .title {
    font-size:var(--main-title70-d); line-height:var(--line-130);
    color:var(--color-white); text-align:center; margin:80px 0;
}
#wrap .row1 #visual .title em {font-weight:var(--weight-bold);}
#wrap .row1 #visual .sponsor_btn {margin:0 auto 80px; }
#wrap .row1 #visual .sponsor_question_btn {
    border-radius:30px; background-color:var(--color-black);
    font-size:var(--main-question26-d); padding:20px; 
    color:var(--color-white); float:right;
    display:flex; flex-flow:row nowrap; justify-content:center; align-items:center; gap:10px;
}
#wrap .row1 #visual .sponsor_question_btn img {width:20px;}
#wrap .row1 #visual .sponsor_question_btn span {}
/* ------------------------------------------2행 퀴즈 */
#wrap .row2 {background-image:url(../images/quiz_bg.jpg);}
#wrap .row2 #quiz {background-image:url(../images/quiz_bg.jpg);
    display:grid;
    grid-template-columns:repeat(2, 1fr);/* 옆으로 나열하고 일정한 값을 줘서 나눈다->부모에게 사용해야한다. */
    height:max-content; padding-bottom:90px;
    color:var(--color-white);
    padding-top:140px;
}
#wrap .row2 #quiz > * {border:1px solid red;}
#wrap .row2 #quiz .quiz_list {}
#wrap .row2 #quiz .quiz_list h2 {margin-bottom:30px; width:374px;}
#wrap .row2 #quiz .quiz_list p {margin-bottom:30px; font-size:var(--main-content20-d);}
#wrap .row2 #quiz .quiz_list #quiz_frm {}
#wrap .row2 #quiz .quiz_list #quiz_frm .list {}
#wrap .row2 #quiz .quiz_list #quiz_frm .list li {}
#wrap .row2 #quiz .quiz_list #quiz_frm .list li input[id^=q] {display:none;}
#wrap .row2 #quiz .quiz_list #quiz_frm .list li input[id^=q]:checked + label {
    background-image:url(../images/check_on.png);
    background-repeat:no-repeat;
}
#wrap .row2 #quiz .quiz_list #quiz_frm .list li label {
    background-image:url(../images/check_off.png);
    background-repeat:no-repeat;
    padding-left:35px; line-height:30px;
    background-size:24px;
    display:inline-block;
    font-size:var(--main-content20-d);
    margin-bottom:10px;
    display:flex; flex-flow:row nowrap;
}
#wrap .row2 #quiz .quiz_list #quiz_frm #quiz_answer_btn {
    width:374px; height:66px;
    background:var(--color-black); color:var(--color-white);
    font-size:var(--main-question26-d);
    border-radius:30px;
}
#wrap .row2 #quiz .quiz_current {}
#wrap .row2 #quiz .quiz_current .status {
    width:553px; height:280px; margin-top:30px;
    border-radius:20px; overflow:hidden; float:right;
}
#wrap .row2 #quiz .quiz_current .status dt {
    background:linear-gradient(90deg, var(--color-point-or1), var(--color-point-or2));
    display:flex; flex-flow:row nowrap; justify-content:center; align-items:center;
    font-size:var(--main-question26-d); padding:30px 0;
}
#wrap .row2 #quiz .quiz_current .status dt img {}
#wrap .row2 #quiz .quiz_current .status dd {
    background:var(--color-white); height:calc(100% - 92px); /* 부모의 크기를 제외한 나머지->calc는 단위가 달라도 계산되는 태그 */
    color:var(--color-black); font-size:var(--main-question26-d);
    display:flex; justify-content:center; 
    position:relative;
    padding-top:48px;
}
#wrap .row2 #quiz .quiz_current .status dd em {
    font-size:var(--main-title70-d); font-weight:var(--weight-bold);
    color:var(--color-point-or1); 
}
#wrap .row2 #quiz .quiz_current .status dd span{
    color:var(--color-point-or1); font-weight:var(--weight-bold);
    position:relative; top:40px;
}
#wrap .row2 #quiz .quiz_current .status dd strong {position:relative; top:40px;}
#wrap .row2 #quiz .quiz_current p {float:right; margin:20px 0 0;}
/* ------------------------------------------3행 동영상 */
#wrap .row3 {background-image:url(../images/video_bg.jpg);}
#wrap .row3 #story {
    padding-top:131px;
    display:flex; flex-flow:column nowrap; align-items:center;
}
#wrap .row3 #story h2 {margin-bottom:30px;}
#wrap .row3 #story iframe{width:909px; height:525px; margin-bottom:30px;}
#wrap .row3 #story .sponsor_btn {margin-bottom:131px;}
/* ------------------------------------------4행 빙하면적감소 */
#wrap .row4 {background-image:url(../images/50_bg.jpg);}
#wrap .row4 #wwf_msg1 {color:var(--color-white);}
#wrap .row4 #wwf_msg1 h2 {text-align:left; margin-bottom:30px;}
#wrap .row4 #wwf_msg1 h2 em {
    margin:30px 0; position:relative; z-index:;
    color:var(--color-black); font-weight:var(--weight-bold);
}
#wrap .row4 #wwf_msg1 h2 em::after {/* 가상선택자를 이용해서 디테일하게 디자인*/
    content: ''; display:inline-block;
    background:var(--color-white); z-index:10;
    position:absolute; left:0px; right:0; width:100%; height:100%;
}
#wrap .row4 #wwf_msg1 h2 em span {
    color:var(--color-black); font-weight:var(--weight-bold);
    z-index:11; position:relative;
}
#wrap .row4 #wwf_msg1 h2+p {
    font-size:var(--main-content20-d); text-align:left;
}
#wrap .row4 #wwf_msg1 p {margin-bottom:30px;}
#wrap .row4 #wwf_msg1 p img {}
/* ------------------------------------------5행빙하가녹으면 */
#wrap .row5 {background-color:var(--color-gray-f5);}
#wrap .row5 #wwf_msg2 {padding-top:80px;}
#wrap .row5 #wwf_msg2 h2 {margin:50px 0;}
#wrap .row5 #wwf_msg2 h2+p {
    text-align:center; margin:40px 0;
    /* 한 줄 말줄임 처리(br제거) */
    /* width:300px;
    white-space:nowrap;/* 한줄 처리 */
    /* overflow:hidden;
    text-overflow:ellipsis; */
    /* 설정한 width 기준 영역을 나간 글자를 말줄임처리하기 */
}
/* #wrap .row5 #wwf_msg2 h2+p br {display:none;} */
#wrap .row5 #wwf_msg2 .msg_card_wrap {
    display:grid;
    grid-template-columns:repeat(3, 1fr); gap:10px;
}
/* 자식의 크기만 주고, 부모의 크기를 주지않으면 적용되지않음, 부모에다가도 배경색을 줘야한다. */
#wrap .row5 #wwf_msg2 .msg_card_wrap li {padding-bottom:30px; background:var(--color-white);}
#wrap .row5 #wwf_msg2 .msg_card_wrap li:nth-child(1) dl {
    background-image:url(../images/card_001.jpg); background-repeat:no-repeat;
    height:380px; text-align:center; padding:30px 0; background-size:cover;
    color:var(--color-white); font-weight:var(--weight-bold);
}
#wrap .row5 #wwf_msg2 .msg_card_wrap li:nth-child(2) dl {
    background-image:url(../images/card_002.jpg); background-repeat:no-repeat;
    height:380px; text-align:center; padding:30px 0; background-size:cover;
    color:var(--color-white); font-weight:var(--weight-bold);
}
#wrap .row5 #wwf_msg2 .msg_card_wrap li:nth-child(3) dl {
    background-image:url(../images/card_003.jpg); background-repeat:no-repeat;
    height:380px; text-align:center; padding:30px 0; background-size:cover;
    color:var(--color-white); font-weight:var(--weight-bold);
}
#wrap .row5 #wwf_msg2 .msg_card_wrap li dl::after {
    content:''; display:block; background:linear-gradient(var(--color-black), transparent);
    top:0; bottom:0;
    position:absolute; /* 겹치는 요소 */
    width:100%; height:100%; z-index:9;
}
#wrap .row5 #wwf_msg2 .msg_card_wrap li dl {
    font-size:var(--main-picture40-d); position:relative; text-align:center;
    height:320px; padding-top:30px;
}
#wrap .row5 #wwf_msg2 .msg_card_wrap li dl dt {
    position:relative; z-index:10;
    color:var(--color-white); position:relative; z-index:10;
    font-size:var(--main-picture40-d);
}
#wrap .row5 #wwf_msg2 .msg_card_wrap li dl dd {
    font-size:var(--main-question26-d); padding-top:30px;
    z-index:10; position:relative;
}
#wrap .row5 #wwf_msg2 .msg_card_wrap li p {
    background:var(--color-white); 
    font-size:var(--main-content20-d); 
    line-height:var(--line-150); letter-spacing:var(--letter-minus2);
    padding:20px 20px 0;
    max-height:150px;
    /* 말줄임(...)처리 */
    overflow:hidden;/* 박스를 넘어가면 안보이게 하는 설정 */
    display:-webkit-box; /* 브라우저엔진 -webkit- */
    -webkit-line-clamp:2;/* 몇줄 초과시 말줄임처리 */
    -webkit-box-orient:vertical;/* 글 방향 */
    text-overflow:ellipsis;/* 말줄임 속성 */
}